server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/online_education?useSSL=false&serverTimezone=UTC
    username: root
    password: Pass-1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    open-in-view: false
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

logging:
  level:
    root: INFO
    org.springframework.jdbc.core.JdbcTemplate: DEBUG

app:
  upload-dir: uploads
